/* .leftnavContainer {
    background-color: azure;
    width: 70px;
    padding: 8px;
} */
.leftnavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px; /* Adjust the width as needed */
    background-color: #f0f0f0; 
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;/* Optional background color */
  }
  
  .topIcons,
  .bottomIcons {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Gap between icons */
  }
  
  .middleGap {
    height: 80px; 
    padding-top: 140px;
    background-color: #f0f0f0;/* Space between top and bottom icons */
  }
  
  .icon {
    width: 20px; /* Adjust the size of the icons */
    height: 20px;
  }
  .icon {
    width: 20px; /* Adjust the size of the icons */
    height: 20px;
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .icon:hover {
    filter: invert(43%) sepia(22%) saturate(5968%) hue-rotate(312deg) brightness(93%) contrast(92%);
  }
  
  