.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 50px;
}

.card {
    
    border-radius: 20px;
}
.imagecard{
    border-radius: 20px;
}
.cardtitle{
    padding-left: 20px;
    padding-top: 10px;
}
.carddesc{
    padding-left: 20px;
    padding-bottom: 20px;
}

.saveButton,
.cancelButton {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px; 
  margin-right: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.saveButton {
    background-color: white;
    color: black;
}


.cancelButton {
    background-color: white;
    color: black;
}


.saveButton:hover,
.cancelButton:hover {
  background-color: #E51058;
  color: white;
}
.changename{
    padding-top: 5px;
}
